<header class="header">
  <div class="container header-content">
    <div class="logo">
      <span class="logo-icon">🔄</span>
      TS Mock Proxy
    </div>
    <div class="header-info">
      <span class="version">v1.0.0</span>
    </div>
  </div>
</header>

